.DS_Store
*.iml
*.dex
*.class
*.apk
*.ap_
bin/
gen/
.gradle/
.externalNativeBuild
/build
/captures
/.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/inspectionProfiles/
!/.idea/codeInsightSettings.xml
!/.idea/kotlinCodeInsightSettings.xml
!/.idea/encodings.xml
/local.properties
